name: 'CI: Format check'

on:
  push:
    branches:
      - main
    paths:
      - '**.go'
      - '**.nix'
      - 'flake.lock'
      - '.github/workflows/format.yaml'
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Install Nix
        uses: cachix/install-nix-action@0b0e072294b088b73964f1d72dfdac0951439dbd # v31.8.4
        with:
          github_access_token: ${{ github.token }}

      - name: Check formatting
        run: nix fmt -- --fail-on-change
